.margin {
  width: 1190px;
  margin: 0 auto; }

#header {
  height: 30px;
  background: #3e3e3e;
  font: 12px/30px "";
  color: #fff; }
  #header .header-l {
    float: left; }
  #header ul {
    float: right; }
    #header ul li a {
      font: 12px/30px "";
      color: #fff;
      padding: 0 18px; }

#search {
  height: 90px;
  background: #f1f3f0;
  padding-top: 30px; }
  #search a.logo {
    float: left;
    margin-top: 15px;
    margin-right: 106px; }
  #search .search-c {
    float: left; }
    #search .search-c .txt {
      float: left;
      width: 422px;
      padding-left: 20px;
      font: 12px/33px "";
      color: #d5d5d5;
      border: 1px solid black;
      border-radius: 4px;
      background: #fff url(../images/input1.png) no-repeat left; }
    #search .search-c .sub {
      float: left;
      width: 64px;
      height: 35px;
      background: #f61d0c url(../images/input2.png) no-repeat center;
      border: 0;
      border-radius: 4px; }
    #search .search-c ul {
      font: 12px/36px ""; }
      #search .search-c ul li {
        float: left;
        margin-left: 20px; }
        #search .search-c ul li a {
          font: 12px/36px ""; }
  #search .search-r {
    float: left; }
    #search .search-r a {
      font: 12px/33px "";
      color: #fe270a;
      margin-left: 64px; }
    #search .search-r i.i1 {
      display: inline-block;
      width: 33px;
      height: 33px;
      background: url(../images/itag.png); }
    #search .search-r i.i2 {
      display: inline-block;
      width: 33px;
      height: 33px;
      background: url(../images/itag.png);
      background-position: bottom; }

#nav ul {
  overflow: hidden;
  padding-left: 14px;
  border-bottom: 2px solid #f0123a; }
  #nav ul li {
    float: left;
    height: 35px; }
    #nav ul li a {
      display: block;
      font: 14px/35px "";
      background: #fff;
      padding: 0 15px; }
    #nav ul li :hover {
      background: #f3210a; }

#list {
  background: #fff;
  height: 800px; }
  #list .goods {
    float: left; }
    #list .goods h3 {
      font: 24px/52px ""; }
    #list .goods p {
      overflow: hidden; }
      #list .goods p span {
        float: left;
        font: 12px/24px;
        color: #333; }
      #list .goods p a {
        float: right;
        font: 12px/24px;
        color: #333; }
    #list .goods .detail {
      overflow: hidden;
      box-shadow: 5px;
      margin: 10px 5px; }
      #list .goods .detail .detail-l {
        float: left; }
        #list .goods .detail .detail-l img {
          display: block;
          width: 420px;
          height: 420px;
          margin: 10px; }
        #list .goods .detail .detail-l dl {
          overflow: hidden; }
          #list .goods .detail .detail-l dl dd {
            float: left; }
            #list .goods .detail .detail-l dl dd img {
              display: block;
              width: 59px;
              height: 59px;
              border: 1px solid #d5d5d5;
              margin: 0 10px; }
          #list .goods .detail .detail-l dl :hover img {
            border: #c5270c; }
        #list .goods .detail .detail-l p {
          font: 12px/24px "";
          color: #333;
          margin-top: 13px; }
      #list .goods .detail .detail-r {
        float: right; }
        #list .goods .detail .detail-r ul li.li1 {
          width: 546px;
          height: 90px;
          background: red; }
        #list .goods .detail .detail-r ul li.li2 {
          width: 546px;
          height: 184px; }
          #list .goods .detail .detail-r ul li.li2 p span {
            font: 16px/32px ""; }
          #list .goods .detail .detail-r ul li.li2 p b {
            font: 12px/36px ""; }
        #list .goods .detail .detail-r ul li.li3 a {
          display: inline-block;
          width: 100px;
          font: 14px/28px "";
          padding: 0 5px; }
        #list .goods .detail .detail-r ul li.li4 input {
          width: 27px;
          height: 27px;
          border: 1px solid #e5e5e5; }
          #list .goods .detail .detail-r ul li.li4 input .size dl dd span {
            display: inline-block;
            width: 20px;
            height: 27px;
            font: 12px/44px ""; }
  #list .brand {
    float: right; }

#footer .line {
  width: 100%;
  height: 3px;
  background: #c5270c; }

#footer ul {
  overflow: hidden;
  margin: 50px 0 36px 50px; }
  #footer ul li {
    float: left;
    width: 200px;
    height: 50px;
    background: url(../images/ptag.png) no-repeat left;
    padding-left: 80px; }

#footer .help {
  overflow: hidden;
  margin-bottom: 30px; }
  #footer .help dl {
    float: left;
    padding-left: 120px; }

#footer .contain {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px; }
  #footer .contain img {
    display: block;
    margin: 10px auto; }
