.margin {
  width: 1190px;
  margin: 0 auto; }

#header {
  height: 30px;
  background: #3e3e3e;
  font: 12px/30px "";
  color: #fff; }
  #header .header-l {
    float: left; }
  #header ul {
    float: right; }
    #header ul li a {
      font: 12px/30px "";
      color: #fff;
      padding: 0 18px; }

#search {
  height: 90px;
  background: #f1f3f0;
  padding-top: 30px; }
  #search a.logo {
    float: left;
    margin-top: 15px;
    margin-right: 106px; }
  #search .search-c {
    float: left; }
    #search .search-c .txt {
      float: left;
      width: 422px;
      padding-left: 20px;
      font: 12px/33px "";
      color: #d5d5d5;
      border: 1px solid black;
      border-radius: 4px;
      background: #fff url(../images/input1.png) no-repeat left; }
    #search .search-c .sub {
      float: left;
      width: 64px;
      height: 35px;
      background: #f61d0c url(../images/input2.png) no-repeat center;
      border: 0;
      border-radius: 4px; }
    #search .search-c ul {
      font: 12px/36px ""; }
      #search .search-c ul li {
        float: left;
        margin-left: 20px; }
        #search .search-c ul li a {
          font: 12px/36px ""; }
  #search .search-r {
    float: left; }
    #search .search-r a {
      font: 12px/33px "";
      color: #fe270a;
      margin-left: 64px; }
    #search .search-r i.i1 {
      display: inline-block;
      width: 33px;
      height: 33px;
      background: url(../images/itag.png); }
    #search .search-r i.i2 {
      display: inline-block;
      width: 33px;
      height: 33px;
      background: url(../images/itag.png);
      background-position: bottom; }

#nav ul {
  overflow: hidden;
  padding-left: 14px;
  border-bottom: 2px solid #f0123a; }
  #nav ul li {
    float: left;
    height: 35px; }
    #nav ul li a {
      display: block;
      font: 14px/35px "";
      background: #fff;
      padding: 0 15px; }
    #nav ul li :hover {
      background: #f3210a; }

#nav .banner {
  width: 1263px;
  height: 343px;
  background: url(../images/banner.png) no-repeat center; }

#detail {
  width: 1263px;
  padding: 90px 77px; }
  #detail ul {
    overflow: hidden; }
    #detail ul li {
      float: left;
      margin: 0 10px 20px 0;
      width: 214px;
      text-align: center; }
      #detail ul li img {
        display: block;
        width: 214px;
        height: 214px; }
      #detail ul li h4 {
        width: 177px;
        font: 700 12px/26px "";
        margin-top: 10px; }
      #detail ul li span {
        display: block;
        font: 12px /26px "";
        color: red; }
      #detail ul li p {
        font: 12px/30px "";
        color: #ddd; }
      #detail ul li input.join {
        border: 2px solid #d13c47;
        width: 75px;
        height: 28px;
        background: #fff;
        color: #d13c47; }
      #detail ul li input.buy {
        border: 2px solid #d13c47;
        width: 75px;
        height: 28px;
        background: #c91623;
        color: #eee9ff; }

#footer .line {
  width: 100%;
  height: 3px;
  background: #c5270c; }

#footer ul {
  overflow: hidden;
  margin: 50px 0 36px 50px; }
  #footer ul li {
    float: left;
    width: 200px;
    height: 50px;
    background: url(../images/ptag.png) no-repeat left;
    padding-left: 80px; }

#footer .help {
  overflow: hidden;
  margin-bottom: 30px; }
  #footer .help dl {
    float: left;
    padding-left: 120px; }

#footer .contain {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px; }
  #footer .contain img {
    display: block;
    margin: 10px auto; }
