/* CSS Document */
section .logo{overflow: hidden;}
section .logo img{float:left;margin:30px 0 0 35px;}
section .logo h3{float: left;font: 24px/3 "";margin: 50px 45px }

section form{width:400px;margin: 0 auto;}
section form span{display:inline-block;font:12px/34px "";width:70px;text-align: center}
section form input{width:260px;height:32px;border: 1px solid #d5d5d5;margin:10px 0; }
section form .check{width:13px;height:13px;margin:30px 0;}
section form input.sub{width:350px;height:36px;background:#f3210a;font:18px/36px "";border-radius: 5px}






